html {
  height: 100%;
  margin: 0;
  background-color: #f7f7f7;
}

body {
  height: calc(100% - 3.5em);
  background-color: #f7f7f7;
}

#root {
  height: 100%;
}

.form {
  width: 203px;
}

tr > .td {
  vertical-align: middle;
}

#rating {
  width: 65px;
}
