<div>
  <h3>Admin Courses</h3>
  <table border>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Max Students</th>
      <th>Study Books</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% courses.forEach(c => { %>
      <tr>
        <td><a href="<%= `/courses/${c._id}` %>"><%= c.title %></a></td>
        <td><%= c.description %></td>
        <td><%= c.maxStudents %></td>
        <td>
          <%-
            c.studyBooks.map(studyBook => {
                return `<a href="/study-books/${studyBook._id}">${studyBook.title}</a>`;
              })
              .sort()
              .join(", ");
          %>
        </td>
        <td><%= c.createdAt %></td>
        <td><%= c.updatedAt %></td>
      </tr>
    <% }); %>
  </table>
</div>
