<div>
  <h3><%= `${course.title}: ${course.description}` %></h3>

  <% course.studyBooks.forEach(studyBook => { %>
    <h4><%= studyBook.title %></h4>
    <a href="<%= `/users/${currentUser._id}/enrolled-courses/${course._id}/active-study-book/${studyBook._id}/active-question/${studyBook.questions[0]._id}` %>">Take quiz</a>
    <br>
    <a href="<%= `/users/${currentUser._id}/enrolled-courses/${course._id}/active-study-book/${studyBook._id}/previous-submission` %>">Previous submission</a>
  <% }); %>

  <br>
  <br>

  <a href="<%= `/users/${currentUser._id}/enrolled-courses` %>">Back to Enrolled Courses</a>
</div>
