<div>
  <h3>Admin Course Page</h3>
  <h3><%= course.title %>:</h3>

  <table border>
    <tr>
      <th>Title</th>
      <td><%= course.title %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= course.description %></td>
    </tr>
    <tr>
      <th>Max Students</th>
      <td><%= course.maxStudents %></td>
    </tr>
  </table>

  <h4>Study Books:</h4>
  <% course.studyBooks.forEach(studyBook => { %>
      <div>
        <a href="<%= `/study-books/${studyBook._id}` %>"><%= studyBook.title %></a>
      </div>
    <% }); %>
</div>
