<div>
  <h3>Admin Submissions</h3>

  <table border>
    <tr>
      <th>Response</th>
      <th>Correct Answer</th>
      <th>Question</th>
      <th>User</th>
      <th>Rating</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% submissions.forEach(s => { %>
      <tr>
        <td><a href="<%= `/submissions/${s._id}` %>"><%= s.response %></a></td>
        <td><%= s.question.answer %></td>
        <td><a href="<%= `/questions/${s.question._id}` %>"><%= s.question.text %></a></td>
        <td><a href="<%= `/users/${s.user._id}` %>"><%= s.user.username %></a></td>
        <td><%= s.rating %></td>
        <td><%= s.createdAt %></td>
        <td><%= s.updatedAt %></td>
      </tr>
    <% }); %>
  </table>
</div>
