<div>
  <h3><%= course.title %></h3>
  <h4><%= studyBook.title %></h4>
  <h4>Previous submission:</h4>

  <table border>
    <tr>
      <th>Response</th>
      <th>Correct Answer</th>
      <th>Question</th>
      <th>Rating</th>
      <th>Submitted At</th>
    </tr>
    <% submissions.forEach(s => { %>
      <tr>
        <td><%= s.response %></td>
        <td><%= s.question.answer %></td>
        <td><%= s.question.text %></td>
        <td><%= s.rating %></td>
        <td><%= s.updatedAt %></td>
      </tr>
    <% }); %>
  </table>

  <br>

  <a href="<%= `/users/${currentUser._id}/enrolled-courses/${course._id}` %>">Back to <%= course.title %></a>
</div>
