<div>
  <h3>Admin Submission Page</h3>

  <table border>
    <tr>
      <th>User</th>
      <td><a href="<%= `/users/${submission.user._id}` %>"><%= submission.user.username %></a></td>
    </tr>
    <tr>
      <th>Response</th>
      <td><%= submission.response %></td>
    </tr>
    <tr>
      <th>Correct Answer</th>
      <td><%= submission.question.answer %></td>
    </tr>
    <tr>
      <th>Question</th>
      <td><a href="<%= `/questions/${submission.question._id}` %>"><%= submission.question.text %></a></td>
    </tr>
    <tr>
      <th>Rating</th>
      <td><%= submission.rating %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= submission.createdAt %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= submission.updatedAt %></td>
    </tr>
  </table>
</div>
