<div>
  <h3>Admin Study Books</h3>

  <% studyBooks.forEach(studyBook => { %>
    <h3>
      <a href="<%= `/study-books/${studyBook._id}` %>"><%= studyBook.title %></a>
    </h3>
    <ul>
      <% studyBook.questions.forEach(question => { %>
        <li>
          <a href=<%= `/questions/${question._id}` %>><%= question.text %></a>
        </li>
      <% }); %>
    </ul>
    <table border>
      <tr>
        <th>Created At</th>
        <td><%= studyBook.createdAt %></td>
      </tr>
      <tr>
        <th>Updated At</th>
        <td><%= studyBook.updatedAt %></td>
      </tr>
    </table>
  <% }) %>
</div>
