<div>
  <h3>Admin Study Book Page</h3>
  <h3><%= studyBook.title %>:</h3>

  <h4>Questions:</h4>
  <% studyBook.questions.forEach(question => { %>
      <div>
        <a href="<%= `/questions/${question._id}` %>"><%= question.text %></a>
      </div>
    <% }); %>
</div>
