<div>
  <h3>Courses:</h3>

  <% courses.forEach(course => { %>
    <h5>
      <%= course.title %>
    </h5>
    <p>Description:
      <%= course.description %>
    </p>
    <p>Professor:
      <%= course.professor %>
    </p>
  <% }); %>
</div>
