<div>
  <h3>Welcome!</h3>
  <p> Please check out our study books to help learn computer science material.</p>
  <p> To view available courses, click the <a href="/courses">courses</a> page!</p>
  <p>To see other users, click the <a href="/users">users</a> page!</p>
</div>
