<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Study book</title>
</head>

<body>
  <h1>Study Book</h1>
	<% if (loggedIn) { %>
		<p>User</p>
	  <ul>
	    <li>
	      <a href="/">Home</a>
	    </li>
			<li>
				<a href="<%= `/users/${currentUser._id}` %>">Profile</a>
			</li>
			<li>
	      <a href="<%= `/users/${currentUser._id}/enrolled-courses` %>">Enrolled Courses</a>
	    </li>
			<li>
				Logged in as <%= `${currentUser.username}` %>
			</li>
			<li>
				<a href="/users/logout">Logout</a>
			</li>
		</ul>
		<p>Admin</p>
		<ul>
			<li>
			 <a href="/users">Users</a>
		 	</li>
	    <li>
	      <a href="/courses">Courses</a>
	    </li>
			<li>
	      <a href="/study-books">Study Books</a>
	    </li>
			<li>
	      <a href="/questions">Questions</a>
	    </li>
			<li>
	      <a href="/submissions">Submissions</a>
	    </li>
		</ul>

	<% } %>

	<%- body %>

	<div>
		<% if (flashMessages) { %>
			<% if (flashMessages.success) { %>
				<% flashMessages.success.forEach(message => { %>
					<div><%= message %></div>
				<% }) %>
			<% } else if (flashMessages.error) { %>
				<% flashMessages.error.forEach(message => { %>
					<div><%= message %></div>
				<% }) %>
			<% } %>
		<% } %>
	</div>
</body>

</html>
