<div>
  <h3>Edit Profile for <%= user.fullName %></h3>
  <form action="<%= `/users/${user._id}/update?_method=PUT` %>" method="post">
    <input type="text" name="firstName" placeholder="First Name" value="<%= user.name.first %>">
    <br>
    <input type="text" name="lastName" placeholder="Last Name" value="<%= user.name.last %>">
    <br>
    <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
    <br>
    <input type="text" name="username" placeholder="Username" value="<%= user.username %>">
    <br>
    <label for="enrolledCourses">Enrolled Courses:</label>
    <%
      enrolledCourses = user.enrolledCourses.map(course => {
            return course._id;
          })
    %>
    <% courses.forEach(course => { %>
      <br>
      <input type="checkbox" name="enrolledCourses" id="<%= course._id %>" value="<%= course._id %>"
        <% if (enrolledCourses.includes(course._id)) { %>
          <%= "checked" %>
        <% } %>
      >
      <label for="<%= course._id %>"><%= course.title %></label>
    <% }) %>
    <br>
    <input type="submit" value="submit">
  </form>
</div>
