<div>
  <h3>Admin Users</h3>
  <table border>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Enrolled Courses</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% users.forEach(u => { %>
      <tr>
        <td><a href="<%= `/users/${u._id}` %>"><%= u.username %></a></td>
        <td><%= u.name.first %></td>
        <td><%= u.name.last %></td>
        <td><%= u.email %></td>
        <td>
          <%-
            u.enrolledCourses.map(course => {
                return `<a href="/courses/${course._id}">${course.title}</a>`;
              })
              .sort()
              .join(", ");
          %>
        </td>
        <td><%= u.createdAt %></td>
        <td><%= u.updatedAt %></td>
      </tr>
    <% }); %>
  </table>
</div>
