<div>
  <h3>Enrolled Courses for <%= user.fullName %></h3>
  <table border>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <% user.enrolledCourses.forEach(c => { %>
      <tr>
        <td><a href="<%= `/users/${user._id}/enrolled-courses/${c._id}` %>"><%= c.title %></a></td>
        <td><%= c.description %></td>
      </tr>
    <% }); %>
  </table>
</div>
