<div>
  <h3>Login</h3>
  <form action="/users/login" method="post">
    <input type="text" name="username" placeholder="username" value="">
    <br>
    <input type="password" name="password" placeholder="password" value="">
    <br>
    <input type="submit" value="submit">
  </form>
  <p>Need an account? Sign up <a href="/users/new">here</a>.</p>
</div>
