<div>
  <h3>Sign Up</h3>
  <form action="/users/create" method="post">
    <input type="text" name="firstName" placeholder="First Name" value="">
    <br>
    <input type="text" name="lastName" placeholder="Last Name" value="">
    <br>
    <input type="email" name="email" placeholder="Email" value="">
    <br>
    <label for="enrolledCourses">Enrolled Courses:</label>
    <% courses.forEach(course => { %>
      <br>
      <input type="checkbox" name="enrolledCourses" id="<%= course._id %>" value="<%= course._id %>">
      <label for="<%= course._id %>"><%= course.title %></label>
    <% }) %>
    <br>
    <input type="text" name="username" placeholder="Username" value="">
    <br>
    <input type="password" name="password" placeholder="Password" value="">
    <br>
    <input type="submit" value="submit">
  </form>
  <p><a href="/users/login">Login</a> with an existing username.</p>
</div>
