<div>
  <h3>Profile for <%= user.fullName %></h3>

  <table border>
    <tr>
      <th>First Name</th>
      <td><%= user.name.first %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= user.name.last %></td>
    </tr>
    <tr>
      <th>Username</th>
      <td><%= user.username %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <th>Enrolled Courses</th>
      <td>
        <%=
          user.enrolledCourses.map(course => {
              return course.title
            })
            .sort()
            .join(", ")
        %>
      </td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= user.createdAt %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= user.updatedAt %></td>
    </tr>
  </table>
  <a href="<%= `/users/${user._id}/edit` %>">Edit</a>
  <br>
  <a href="<%= `/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
</div>
