<div>
  <h3><%= `${course.title}: ${course.description}` %></h3>

  <h4><%= studyBook.title %></h4>

  <form id="questionForm" action="<%= `/users/${currentUser._id}/enrolled-courses/${course._id}/active-study-book/${studyBook._id}/active-question/${question._id}?_method=PUT` %>" method="post">
    <label for="answerTextArea"><%= question.text %></label>
    <br>
    <textarea id="response" name="response" rows="8" cols="80" placeholder="Type response here..." required></textarea>
    <br>
    <label for="rating">Give a confidence rating for your response (0-5):</label>
    <br>
    <input type="number" id="rating" name="rating" value="0" min="0" max="5" required>
    <br>
    <br>
    <input type="submit" name="submitBtn" value="Submit">
  </form>
</div>
