<div>
  <h3>Admin Questions</h3>

  <table border>
    <tr>
      <th>Text</th>
      <th>Answer</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% questions.forEach(q => { %>
      <tr>
        <td><a href="<%= `/questions/${q._id}` %>"><%= q.text %></a></td>
        <td><%= q.answer %></td>
        <td><%= q.createdAt %></td>
        <td><%= q.updatedAt %></td>
      </tr>
    <% }); %>
  </table>
</div>
