<div>
  <h3>Admin Question Page</h3>

  <table border>
    <tr>
      <th>Text</th>
      <td><%= question.text %></td>
    </tr>
    <tr>
      <th>Answer</th>
      <td><%= question.answer %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= question.createdAt %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= question.updatedAt %></td>
    </tr>
  </table>
  <br>

  <h4>Submissions:</h4>
  <table border>
    <tr>
      <th>Response</th>
      <th>User</th>
    </tr>
    <% submissions.forEach(s => { %>
      <tr>
        <td><a href="<%= `/submissions/${s._id}` %>"><%= s.response %></a></td>
        <td><a href="<%= `/users/${s.user._id}` %>"><%= s.user.username %></a></td>
      </tr>
    <% }); %>
  </table>
</div>
